// imports
@use "../abstracts/abstracts" as *;

.stat {
  &__icon {
    width: 5rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__number {
    @include headingStyles;
    font-size: size(xxl) + 5rem;
  }

  &__text {
    @include headingStyles;
    font-size: size(xxl);
  }

  &__desc {
    @include textStyles;
    font-size: size(sm);
    color: color(gray);
  }
}
