// imports
@use "../abstracts/abstracts" as *;

.feature {
  &__content {
    @include maxWidthLg;
    @include sectionSpacingSm;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    overflow-x: hidden;

    @include responsive(md) {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    @include responsive(md) {
      text-align: center;
      order: -1;
    }
  }

  &__heading {
    @include headingStyles;
    font-size: size(xxl);
    padding-bottom: 1rem;
  }

  &__desc {
    @include textStyles;
    font-size: size(xs);
  }

  &--bg {
    background-color: color(paleBlue);
  }
}
