// imports
@use "../abstracts/abstracts" as *;

.hero {
  @include sectionSpacingMd;

  &__content {
    @include maxWidthLg;
    text-align: center;
  }

  &__heading {
    @include headingStyles;
    font-size: size(xxl);
  }

  &__lead {
    @include textStyles;
    font-size: size(xs);
    padding: 2rem 0;
    width: 75%;
    margin: 0 auto;

    @include responsive(md) {
      width: 100%;
    }
  }

  &__img {
    width: 75%;
    margin-top: 10rem;
  }
}
